In [11]:
#Importar librería pandas para análisis de datos

import pandas as pd

In [12]:
#Confirmar archivos o datasets cargados correctamente

empleados = pd.read_excel('/content/empleados_mensual2.xlsx')
eventos = pd.read_excel('/content/eventos_rrhh2.xlsx')
capacitaciones = pd.read_excel('/content/capacitaciones2.xlsx')

In [13]:
#Ver primeras filas - Tipo de información por tabla

empleados.head()
eventos.head()
capacitaciones.head()

,training_id,empleado_id,fecha_inicio,fecha_fin,mes_training,tipo_training,categoria_training,duracion_horas,modalidad,instructor,completado,calificacion_examen,rating_efectividad,costo_training,area_empleado,puesto_empleado,nivel_jerarquico_empleado
0,5027,1000,2024-04-02,2024-04-15,2024-04,Setup de Prensa - Avanzado,Seguridad,104,Presencial,Sr(a). Mia Molina,True,89.0,3,43696.41,Estampado,TÃ©cnico Setup,1
1,5026,1000,2024-09-05,2024-09-20,2024-09,Setup de Prensa - BÃ¡sico,Seguridad,120,Mixto,Thiago Augusto Ruiz Gomez,True,64.0,3,24880.11,Estampado,TÃ©cnico Setup,1
2,5025,1001,2024-07-09,2024-07-15,2024-07,CapacitaciÃ³n General,GestiÃ³n,48,Presencial,LeÃ³n Vargas,True,83.0,4,9616.08,DirecciÃ³n,Plant Manager,5
3,5028,1002,2024-04-15,2024-04-30,2024-04,Setup de Prensa - BÃ¡sico,GestiÃ³n,120,Mixto,Sr(a). Benjamin Alejandro Medina,True,95.0,5,24163.20,Estampado,TÃ©cnico Setup,1
4,5029,1003,2025-01-11,2025-01-22,2025-01,Mantenimiento Preventivo,Seguridad,88,Mixto,Simon Juana Ledesma,True,92.0,5,20258.79,Estampado,Operario de Prensa,1

In [14]:
#Cantidad de filas/columnas

empleados.shape, eventos.shape, capacitaciones.shape

((694, 47), (8705, 18), (729, 17))

In [15]:
#Tipos de datos por columna - Evitar errores posteriores

empleados.dtypes
eventos.dtypes
capacitaciones.dtypes

training_id                           int64
empleado_id                           int64
fecha_inicio                 datetime64[ns]
fecha_fin                    datetime64[ns]
mes_training                         object
tipo_training                        object
categoria_training                   object
duracion_horas                        int64
modalidad                            object
instructor                           object
completado                             bool
calificacion_examen                 float64
rating_efectividad                    int64
costo_training                      float64
area_empleado                        object
puesto_empleado                      object
nivel_jerarquico_empleado             int64
dtype: object

In [16]:
#Valores faltantes - Cuenta valores nulos por si un campo es o no confiable

empleados.isnull().sum()
eventos.isnull().sum()
capacitaciones.isnull().sum()

training_id                  0
empleado_id                  0
fecha_inicio                 0
fecha_fin                    0
mes_training                 0
tipo_training                0
categoria_training           0
duracion_horas               0
modalidad                    0
instructor                   0
completado                   0
calificacion_examen          0
rating_efectividad           0
costo_training               0
area_empleado                0
puesto_empleado              0
nivel_jerarquico_empleado    0
dtype: int64

In [17]:
#Detectar duplicados para no sesgar métricas

empleados.duplicated().sum()
eventos.duplicated().sum()
capacitaciones.duplicated().sum()

np.int64(0)

In [18]:
#Conversión de fechas - Ayuda a calcular insights

empleados['fecha_ingreso'] = pd.to_datetime(empleados['fecha_ingreso'], errors='coerce')
empleados['fecha_salida'] = pd.to_datetime(empleados['fecha_salida'], errors='coerce')

In [19]:
#Validación final para avanzar con análisis de negocio

empleados.info()
eventos.info()
capacitaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694 entries, 0 to 693
Data columns (total 47 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   empleado_id                    694 non-null    int64
 1   mes_snapshot                   694 non-null    datetime64[ns]
 2   activo                         694 non-null    bool
 3   nombre                         694 non-null    object
 4   genero                         694 non-null    object
 5   edad                           694 non-null    int64
 6   fecha_nacimiento               694 non-null    datetime64[ns]
 7   fecha_ingreso                  694 non-null    datetime64[ns]
 8   antiguedad_meses               694 non-null    int64
 9   fecha_salida                   19 non-null     datetime64[ns]
 10  motivo_salida                  19 non-null     object
 11  area                           694 non-null    object
 12  subarea                        694 non-null    object
 13  puesto                         694 non-null    object
 14  nivel_jerarquico               694 non-null    int64
 15  categoria_collar               694 non-null    object
 16  manager_id                     683 non-null    float64
 17  manager_nombre                 687 non-null    object
 18  span_of_control                694 non-null    int64
 19  es_posicion_critica            694 non-null    bool
 20  meses_hasta_jubilacion         694 non-null    int64
 21  aÃ±os_en_puesto_actual         694 non-null    float64
 22  rating_performance             694 non-null    int64
 23  es_top_performer               694 non-null    bool
 24  unidades_producidas            550 non-null    float64
 25  tasa_scrap_porcentaje          430 non-null    float64
 26  eficiencia_vs_target           550 non-null    float64
 27  dias_perdidos_scrap            660 non-null    float64
 28  salario_base_mensual           694 non-null    float64
 29  horas_extra                    694 non-null    float64
 30  costo_horas_extra              694 non-null    float64
 31  bonus_anual                    3 non-null      float64
 32  ultimo_aumento_porcentaje      604 non-null    float64
 33  meses_desde_ultimo_aumento     694 non-null    int64
 34  horas_trabajadas               694 non-null    float64
 35  dias_ausente                   694 non-null    float64
 36  dias_licencia_medica           694 non-null    int64
 37  incidentes_seguridad_count     694 non-null    int64
 38  turno_trabajo                  694 non-null    object
 39  duracion_turno_horas           694 non-null    float64
 40  horas_training_mes             694 non-null    int64
 41  horas_training_acumulado_aÃ±o  694 non-null    int64
 42  ultimo_training_fecha          91 non-null     datetime64[ns]
 43  dias_time_to_fill              691 non-null    float64
 44  fuente_reclutamiento           691 non-null    object
 45  apellido                       694 non-null    object
 46  nombre_completo                694 non-null    object
dtypes: bool(3), datetime64[ns](5), float64(15), int64(12), object(12)
memory usage: 240.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8705 entries, 0 to 8704
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   evento_id                8705 non-null   int64
 1   empleado_id              8705 non-null   int64
 2   fecha_evento             8705 non-null   datetime64[ns]
 3   mes_evento               8705 non-null   object
 4   tipo_evento              8705 non-null   object
 5   subtipo_evento           8705 non-null   object
 6   severidad                228 non-null    object
 7   dias_perdidos            8705 non-null   int64
 8   parte_cuerpo_afectada    45 non-null     object
 9   turno_evento             8702 non-null   object
 10  hora_evento              225 non-null    object
 11  descripcion_detalle      228 non-null    object
 12  accion_correctiva        15 non-null     object
 13  dias_time_to_fill        180 non-null    float64
 14  costo_estimado           8702 non-null   float64
 15  area_empleado            8705 non-null   object
 16  puesto_empleado          8705 non-null   object
 17  antiguedad_meses_evento  8705 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(11)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 729 entries, 0 to 728
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   training_id                729 non-null    int64
 1   empleado_id                729 non-null    int64
 2   fecha_inicio               729 non-null    datetime64[ns]
 3   fecha_fin                  729 non-null    datetime64[ns]
 4   mes_training               729 non-null    object
 5   tipo_training              729 non-null    object
 6   categoria_training         729 non-null    object
 7   duracion_horas             729 non-null    int64
 8   modalidad                  729 non-null    object
 9   instructor                 729 non-null    object
 10  completado                 729 non-null    bool
 11  calificacion_examen        729 non-null    float64
 12  rating_efectividad         729 non-null    int64
 13  costo_training             729 non-null    float64
 14  area_empleado              729 non-null    object
 15  puesto_empleado            729 non-null    object
 16  nivel_jerarquico_empleado  729 non-null    int64
dtypes: bool(1), datetime64[ns](2), float64(2), int64(5), object(7)
memory usage: 92.0+ KB